<section class="greeting greeting--milk"> 
  <div class="greeting__inner">
    <h1 class="greeting__title">
      <span>L'HISTOIRE</span>
      <div class="greeting__title-over">L'HISTOIRE</div>
    </h1>
    <p class="greeting__text">Plongez-vous dans l’histoire extraordinaire d’une entreprise familiale au savoir-faire ancestral...</p>
  </div>

  <img src="img/hero-about.jpg" alt="" class="greeting__pic">
  <img src="img/bg-about.jpg" alt="" class="greeting__bg">
</section>