<section class="greeting">
  {# <h1 class="greeting__title">The History</h1> #}
  <h1 class="greeting__title">
    <span>L’histoire</span>
    <div class="greeting__title-over greeting__title-over--1">L’histoire</div>
    <div class="greeting__title-over greeting__title-over--2">L’histoire</div>
    <div class="greeting__title-over greeting__title-over--3">L’histoire</div>
  </h1>

  <div class="greeting__images">
    <img src="img/test-1.jpg" alt="" class="greeting__image greeting__image--1">
    <img src="img/test-2.jpg" alt="" class="greeting__image greeting__image--4">
    <img src="img/test-3.jpg" alt="" class="greeting__image greeting__image--5">
  </div>
</section>