<section class="history-about">
  <div class="page-nav">
    <div class="page-nav__btn">
      <img src="img/i-page-nav-open.svg" alt="" class="page-nav__icon-open">
      <img src="img/i-page-nav-close.svg" alt="" class="page-nav__icon-close">
    </div>

    <ul class="page-nav__list">
      <li class="page-nav__item">
        <a href="#gstaad" class="page-nav__link">Gstaad</a>
      </li>
      <li class="page-nav__item">
        <a href="#origine" class="page-nav__link">Origine</a>
      </li>
      <li class="page-nav__item">
        <a href="#notre" class="page-nav__link">Notre Fierté</a>
      </li>
      
    </ul>
  </div>

  <div class="history-about__cont cont" id="gstaad">
    <div class="history-about__grid" data-ac>
      <div class="history-about__heading">
        <div class="history-about__pretitle" data-ae>Au fil des ans...</div>
        <h2 class="history-about__title" data-ae>Tutoyer les sommets</h2>
      </div>
      <p class="history-about__text" data-ae>Née à Saanen, sur le territoire de Gstaad, l’entreprise familiale Chaletbau Matti tire sa force de son ancrage dans une nature généreuse et un territoire qui excelle dans le travail du bois. Au fil du temps, ses artisans ont porté au sommet l’art de la charpenterie et de la menuiserie, hissant le chalet au rang de bien d’exception.</p>
    </div>
  </div>

  <div class="history-about__mountain">
    <div class="mountain">
      <figure class="mountain__figure">
        <img class="mountain__img" src="img/bg-history-about.jpg"></img>
      </figure>

      <div class="mountain__graph">
        <img src="img/i-mountain.svg" alt="" class="mountain__graph-item">
        <img src="img/i-mountain--black.svg" alt="" class="mountain__graph-item--over">
      </div>

      <div class="mountain__main">
        <div class="mountain__main-cont cont">
          <div class="mountain__main-grid">
            <div class="mountain__main-inner">
              <div class="mountain__main-text">
                <div class="mountain__title">Niché à</div>
                <div class="mountain__counter">
                  {# <span class="mountain__counter-value">1'050</span> #}
                  <span class="mountain__counter-value">1050</span>
                  <span> m</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  
</section>