<section class="media" id="notre">
  <div class="media__cont cont">
    <div class="media__grid" data-ac>
      <div class="media__heading">
        <div class="media__pretitle" data-ae>Notre fierté</div>
        <h2 class="media__title" data-ae>Le chemin parcouru</h2>
      </div>
      <div class="media__el" data-ae>
        <div class="media__el-wrapper" data-popup="2">
          <video class="media__video" src="video/CHALETBEAU_MATTI_BOIS_1.mp4#t=0.001" loop playsinline muted></video>
          <div class="media__btn">
            <img class="media__icon" src="img/i-media-play.svg"></img>
          </div>
        </div>

        <div class="media__el-label">Episode 1 - Histoire de l'entreprise</div>
      </div>
      <div class="media__text" data-ae>
        Nous sommes fiers que trois générations se soient déjà transmis le flambeau. Fiers d’avoir su faire perdurer un savoir-faire unique. Et fiers de penser que nous avons su l’adapter à notre temps et allons ainsi pouvoir le transmettre aux générations futures. Car le chemin de Chaletbau Matti ne fait que commencer, nous en sommes persuadés... 
      </div>
    </div>
  </div>
</section>