<section class="q">
  <div class="q__cont cont">
    <div class="q__grid">
      <div class="q__main">
        <div class="q__quote">
          <p>Pour moi, c’est très important d’écrire le prochain chapitre de l’histoire de ma famille<img class="q__quote-deco q__quote-deco--r" src="img/i-quote.svg"></img></p>
          <img class="q__quote-deco q__quote-deco--l" src="img/i-quote.svg"></img>
          
        </div>
        <div class="q__author">Daniel Matti, <br>Directeur Construction en bois</div>
      </div>
    </div>
  </div>
</section>