<section class="teaser teaser--offset">
  <div class="teaser__cont cont">
    <div class="teaser__inner">
      <h2 class="teaser__title">
        <span>Du bois au chalet</span>
        <div class="teaser__title-over">Du bois au chalet</div>
      </h2>

      <div class="teaser__btn">
        <div class="teaser__btn-pretitle">PAGE SUIVANTE</div>
        <div class="teaser__btn-title">NOTRE PASSION</div>
      </div>
    </div>
  </div>
  <a href="passion.html" class="teaser__link"></a>
  <div class="teaser__bg">
    <img src="img/bg-history-teaser.jpg" alt="" class="teaser__bg-img">
  </div>
</section>