<section class="timeline" id="origine">
  <div class="timeline__title js-timeline-skip">PASSER CETTE ÉTAPE</div>

  <div class="timeline__slides">

    <div class="timeline__slide">
      <div class="timeline__slide-cont cont">
        <div class="slide-about">
          <div class="slide-about__grid">
            <div class="slide-about__main">
              <div class="slide-about__pretitle">Aux origines de Chaletbau Matti</div>
              <div class="slide-about__title">Du premier atelier à <br> l’entreprise familiale...</div>
              <div class="slide-about__text-wrapper">
                <div class="slide-about__text">Charpenterie-menuiserie devenue entreprise renommée dans le travail du bois, en seulement quelques décennies, Chaletbau Matti s’est épanoui, fidèle à son âme et à son caractère familial. </div>
              </div>
            </div>

            <div class="slide-about__tl">
              <div class="slide-about__btn">
                <span>EXPLORER ></span>
                <img src="img/timeline-deco.svg" alt="" class="slide-about__tl-deco">
              </div>
              <div class="slide-about__tl-title js-timeline-skip">PASSER CETTE ÉTAPE</div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-main">
        <img src="img/bg-tl-slide-main.jpg" alt="" class="slide-main__bg">
        <div class="slide-main__text">
          <div class="slide-main__line"><strong>Aux</strong></div>
          <div class="slide-main__line slide-main__line--l"><strong>origines</strong> de</div>
          <div class="slide-main__line slide-main__line--r">Chaletbau</div>
          <div class="slide-main__line slide-main__line--l slide-main__line--offset">Matti</div>
        </div>
      </div>
    </div>


    <div class="timeline__slide timeline__slide--narrow-m">
      <div class="slide-a">
        <div class="slide-a__cont cont">
          <div class="slide-a__row">
            <div class="slide-a__year">1941</div>
            <img src="img/slide-a.jpg" alt="" class="slide-a__img">
          </div>
          <div class="slide-a__row">
            <div class="slide-a__text">
              Jakob Matti crée à Saanen l’entreprise familiale en acquérant leur premier atelier de menuiserie-charpenterie.
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="timeline__slide timeline__slide--narrow">
      <div class="slide-b">
        <div class="slide-b__cont cont">
          <div class="slide-b__grid">
            <figure class="slide-b__figure">
              <img src="img/slide-b-1.jpg" alt="" class="slide-b__img-l">
            </figure>
            <div class="slide-b__main">
              <div class="slide-b__text">La première réalisation est locale et d’ampleur : il s’agit de reconstruire la toiture de l’église de Saanen, ravagée par un incendie.</div>
              <img src="img/slide-b-2.jpg" alt="" class="slide-b__img-r">
            </div>
          </div>
        </div>
        
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-main">
        <img src="img/bg-tl-slide-main-2.jpg" alt="" class="slide-main__bg slide-main__bg--partial">
        <div class="slide-main__text slide-main__text--dark slide-main__text--wide slide-main__text--sm">
          <div class="slide-main__line slide-main__line--l">De génération</div>
          <div class="slide-main__line slide-main__line--r"><strong>en génération</strong></div>
        </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-c">
        <div class="slide-c__cont cont">
          <div class="slide-c__row">
            <div class="slide-c__year">1964</div>
          </div>
          
          <div class="slide-c__row">
            <img src="img/slide-c.jpg" alt="" class="slide-c__img">
            <div class="slide-c__text">
              L’entreprise continue de grandir et se dote d’un cabinet d’architecture pour répondre au mieux aux demandes des clients. 
            </div>
          </div>
        </div>
      </div>
    </div>
    




    <div class="timeline__slide">
      <div class="slide-d">
         <div class="slide-d__grid">
           <figure class="slide-d__figure">
             <img src="img/slide-d.jpg" alt="" class="slide-d__img">
           </figure>

           <div class="slide-d__main">
             <div class="slide-d__year slide-year">1984</div>
             <div class="slide-d__text slide-text">Chaletbau Matti exporte son savoir-faire d’exception en livrant ses premiers chalets hors des frontières suisses : à Bad-Wiessee, puis à Hanovre et en Ecosse.</div>
           </div>
         </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-e">
        <div class="slide-e__grid">
          <div class="slide-e__col">
            <img src="img/slide-e-l.jpg" alt="" class="slide-e__img">
          </div>
          <div class="slide-e__col slide-e__col--mid">
            <div class="slide-e__year slide-year">1993</div>
            <img src="img/slide-e-c.jpg" alt="" class="slide-e__img-mid">
            <div class="slide-e__text slide-text">
              Suite aux collaborations avec l’entreprise Rosat SA à Château-d’Oex, Chaletbau Matti rachète la société pour augmenter le volume de production.
            </div>
          </div>
          <div class="slide-e__col">
            <img src="img/slide-e-r.jpg" alt="" class="slide-e__img">
          </div>
        </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-d">
        <div class="slide-d__grid">
          <figure class="slide-d__figure">
            <img src="img/slide-d-2.jpg" alt="" class="slide-d__img">
          </figure>

          <div class="slide-d__main">
            <div class="slide-d__year slide-year">2002</div>
            <div class="slide-d__text slide-text">Afin de proposer des pièces uniques et séculaires, l’entreprise constitue un stock d’antiquités en bois ancien dans le dépôt des Moulins, une offre rare qui fait la spécificité de l’entreprise.</div>
          </div>
        </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-f">
        <div class="slide-f__cont cont">
          <div class="slide-f__row slide-f__row--bottom">
            <img src="img/slide-f-1.jpg" alt="" class="slide-f__img slide-f__img--small">
            <div class="slide-f__year slide-year">2009</div>
          </div>
          
          <div class="slide-f__row">
            <img src="img/slide-f-2.jpg" alt="" class="slide-f__img slide-f__img--big">
            <div class="slide-f__text slide-text">
              Ouverture des bureaux à Gstaad regroupant des postes administratifs et d’architecture, complétés par un showroom high-tech. 
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="timeline__slide">
      <div class="slide-d slide-d--dark">
         <div class="slide-d__grid">
           <figure class="slide-d__figure">
             <img src="img/slide-d-3.jpg" alt="" class="slide-d__img">
           </figure>

           <div class="slide-d__main">
             <div class="slide-d__year slide-year">2010</div>
             <div class="slide-d__text slide-text">avec la 3ème génération, incarnée par Daniel, Jean-Claude et Beat Matti, l’entreprise devient « totale » :  de la conception à la remise des clés de votre bien, en passant par la construction et le design d’intérieur.</div>
           </div>
         </div>
      </div>
    </div>



    <div class="timeline__slide timeline__slide--narrow">
      <div class="slide-g slide-dark">
         <div class="slide-g__grid">

            <div class="slide-g__year slide-year">2012</div>

            <div class="slide-g__col slide-g__col--l">
              <img src="img/slide-g-1.jpg" alt="" class="slide-g__img-l">
            </div>
            <div class="slide-g__col slide-g__col--c">
              <img src="img/slide-g-2.jpg" alt="" class="slide-g__img-c">
              <div class="slide-g__text slide-text">Livraison du prestigieux complexe hôtelier Grand Hôtel Alpina 5* à Gstaad. Un chantier de grande ampleur dont la planification et la réalisation auront duré 5 ans.</div>
            </div>
            <div class="slide-g__col slide-g__col--r"></div>
          </div>
      </div>
    </div>
    

    <div class="timeline__slide">
      <div class="slide-i">
        <img src="img/slide-d-4.jpg" alt="" class="slide-i__img">
      </div>
    </div>

    <div class="timeline__slide timeline__slide--narrow">
      <div class="slide-h slide-dark">
         <div class="slide-h__grid">
            <div class="slide-h__year slide-year">2021…</div>
           <div class="slide-h__main">
             <div class="slide-h__title slide-title">Chaletbau Matti aujourd'hui</div>
             <div class="slide-h__text slide-text">
               <p>Chaletbau Matti emploie plus de 100 personnes et possède 3 sites dans la vallée de Saanen et du Pays-d’Enhaut.</p>
               <p>Elle a construit à ce jour plus 250 chalets à Gstaad et des résidences en France, en Angleterre et en Allemagne.</p>
             </div>
           </div>
         </div>
      </div>
    </div>

    <div class="timeline__slide">
      <div class="slide-i">
        <img src="img/slide-i.jpg" alt="" class="slide-i__img">
      </div>
    </div>
    
  </div>
</section>