<section class="hero-title">
    <div class="hero__cont cont">
        <div class="hero__content">
            <span class="hero__overline">
                NOTRE ÉQUIPE
            </span>
            <h1 class="hero__title">
                À vos côtés, <br> durant toutes les étapes
            </h1>
        </div>
    </div>
</section>