<section class="page-links">
    <div class="cont">
        <div class="page-links__row" data-ac>
            <a href="manifesto.html" class="page-links__item" data-ae>
                <span class="page-links__title">Manifesto</span>
                <span class="page-links__description">Lorem ipsum dolor sit</span>
            </a>
            <a href="jobs.html" class="page-links__item" data-ae>
                <span class="page-links__title">CARRIÈRES</span>
                <span class="page-links__description">Lorem ipsum dolor sit</span>
            </a>
        </div>
    </div>
</section>