<section class="team-grid">
    <div class="team-grid__cont cont">
        <div class="team-grid__row">
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/daniel-matti.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Daniel Matti
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/beat-matti.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Beat Matti
                </span>
            </div>
        </div>
        <div class="team-grid__row">
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/jean-claude-matti.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Jean-Claude Matti
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/jean-despontin.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Jean Despontin
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/andreas-von-grünigen.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Andreas von Grünigen
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/claude-beaud.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Claude Beaud
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/stefan-von-siebenthal.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Stefan von Siebenthal
                </span>
            </div>
            <div class="team__item" data-st>
                <div class="team__card">
                    <div class="team__image-container">
                        <img src="img/team/jean-claude-reymond.png" alt="" class="team__image">
                    </div>
                    <div class="team__info">
                        <span class="team__role">
                            PROPRIÉTAIRE
                        </span>
                        <div class="team__text">
                            <p>Directeur Construction en bois</p>
                            <p>
                                Beat Matti, descendant de la lignée des Matti, est Directeur Construction en bois, responsable de la charpente et spécialiste des antiquités en vieux bois.
                            </p>
                        </div>
                    </div>
                </div>
                <span class="team__name">
                    Jean-Claude Reymond
                </span>
            </div>
        </div>
    </div>
</section>