<section class="home">
  <div class="home__slides">

    <div class="home__slide home__slide--l home__slide--darken">
      <a href="passion.html" class="home__slide-link"></a>
      <img src="img/bg-home-l.jpg" alt="" class="home__slide-bg">

      <video class="home__slide-video" src="video/HOMEPAGE Travail du bois - Architecture V1.mp4#t=0.001" playsinline loop muted preload="none"></video>
    </div>

    <div class="home__slide home__slide--r">
      <a href="your-home.html" class="home__slide-link"></a>
      <img src="img/bg-home-r.jpg" alt="" class="home__slide-bg">
      <video class="home__slide-video" src="video/HOMEPAGE Chalet - Relation client V1.mp4#t=0.001" playsinline loop muted preload="none"></video>

    </div>
  </div>

  <div class="home__content">
    <h1 class="home__title">VOS RÊVES, <br>NOS TALENTS</h1>
    <div class="home__btn-wrapper">
      <button class="home__btn btn" data-popup="1">
        {% include "svg/_i-play.svg.twig" %}
        <span class="btn__label">VOIR LE FILM</span>
      </button>
    </div>
  </div>

  <div class="home__links">
    <a href="passion.html" class="home__link home__link--l"><span>Notre passion</span></a>
    <a href="history.html" class="home__link home__link--b"><span>L'HISTOIRE</span><img src="img/i-link-chevron.svg" alt="" class="home__link-icon"></a>
    <a href="your-home.html" class="home__link home__link--r"><span>VOTRE REFUGE</span></a>
  </div>
</section>