<div class="popup-video" data-video="3">

  {# video lang selector is present only at homepage popup #}
  <ul class="popup-video__lang">
    <li class="popup-video__lang-item">
      {# <a href="/" class="popup-video__lang-link popup-video__lang-link--active" data-popup="3">EN</a> #}
      <a href="/#movie" class="popup-video__lang-link popup-video__lang-link--active">EN</a>
    </li>
    <li class="popup-video__lang-item">
      {# <a href="/" class="popup-video__lang-link" data-popup="1">FR</a> #}
      <a href="/#movie" class="popup-video__lang-link">FR</a>
    </li>
    <li class="popup-video__lang-item">
      {# <a href="/" class="popup-video__lang-link" data-popup="1">DE</a> #}
      <a href="/#movie" class="popup-video__lang-link">DE</a>
    </li>
  </ul>

  <div class="popup-video__media">
    <video class="popup-video__element" playsinline controls preload="none">
      <source src="video/CHALETBAU_MATTI_v4.mp4#t=0.001" type="video/mp4" />
    </video>
  </div>

  <div class="popup-video__btn-close">
    <img src="img/i-close.svg" alt="" class="popup-video__icon-close">
  </div>
</div>