.carousel {
  padding-top: 30px;
  padding-bottom: 200px;
  overflow: hidden;

  @include tablet {
    padding-bottom: 140px;
  }
  
  @include mobile {
    margin-left: 35px;
    padding-top: 50px;
    padding-bottom: 210px;
  }

  &__slider {
    width: 55.7%;
    margin: 0 auto;
    display: flex;

    @include tablet {
      
    }
    
    @include mobile {
      width: 100%;
    }
  }

  &__slider-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 80px;

    @include tablet {
      
    }
    
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__slide {
    width: 28%;
    flex-shrink: 0;
  }

  &__slide-inner {
  }

  &__label {
    margin-bottom: 7px;
    font-size: 12px;

    @include tablet {
      
    }
    
    @include mobile {
      margin-bottom: 4px;
    }
  }

  &__figure {
    width: 100%;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__progress {
    position: relative;
    width: 470px;
    height: 1px;
    margin: 0 auto;
    background-color: $c-grey;

    @include tablet {
      
    }
    
    @include mobile {
      width: calc(100% - 35px);
      margin-left: 0;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;
    }

    .swiper-scrollbar-drag {
      height: 1px;
      background-color: $c-orange;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
      }
    }
  }
  &__progress-bar {
    position: relative;
    height: 1px;
    background-color: $c-orange;
    transition: left .3s ease-out;
  }
}
