<section class="quote-auto">
    <div class="cont">
        <div class="quote-auto__content">
            <blockquote class="blockquote quote-auto__blockquote">
                Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Quis commodo odio aenean sed adipiscings
            </blockquote>
            <span class="quote-auto__author">
                amet massa vitae
            </span>
        </div>
    </div>
</section>