<section class="teaser teaser--bottom-text">
  <div class="teaser__cont cont">
    <div class="teaser__inner">
      <h2 class="teaser__title">
        <span>Sed felis eget velit aliquet</span>
        <div class="teaser__title-over">Sed felis eget velit aliquet</div>
      </h2>
    </div>
  </div>
  <div class="teaser__bg">
    <img src="img/sed-felis.png" alt="" class="teaser__bg-img">
  </div>
</section>