<section class="text-place">
    <div class="text-place__cont cont">
        <div class="text-place__content">
            <div class="text-place__column">
                <h2 class="text-place__title" data-st>
                    Gardiens d'un savoir-faire ancestral, <br>Celui du travail du bois, <br>Nous sommes des bâtisseurs d'avenir.
                </h2>
            </div>
           <div class="text-place__column">
                <div class="text-place__text" data-st>
                    La Nature nous inspire et nous fournit nos ressources. À l’image du vivant, nos constructions, sous une apparente simplicité, recèlent des trésors de sophistication. Elles illustrent aussi notre quête permanente d’excellence.
                </div>
           </div>
           <div class="text-place__column text-place__column--right">
                <div class="text-place__text" data-st>
                    En repousser toujours plus loin les frontières, Challenger sans cesse nos savoir-faire, Porter le design à des sommets, Et la technique à son plus haut degré. Soigner le plus petit détail, poli à la main. Voilà ce qui nous guide.
                </div>
           </div>
        </div>
    </div>
</section>