<section class="culture">
    <div class="culture__cont cont">
        {# <span class="culture__overline">
            the chaletbau matti culture
        </span> #}
        <div class="culture__amount">
            <div class="culture__item culture__item--left-side">
                <h2 class="culture__text-container">
                    <span class="culture__text
                    culture__text">attention au détail</span>
                    <span class="culture__text culture__text-upper">attention au détail</span>
                </h2>
                <div class="culture__image-container">
                    <img src="img/attention.png" class="culture__image" alt="">
                </div>
            </div>
            <div class="culture__item culture__item--center">
                <h2 class="culture__text-container">
                    <span class="culture__text">discrétion</span>
                    <span class="culture__text culture__text-upper">discrétion</span>
                </h2>
                <div class="culture__image-container">
                    <img src="img/discretion.png" class="culture__image" alt="">
                </div>
            </div>
            <div class="culture__item culture__item--start">
                <h2 class="culture__text-container">
                    <span class="culture__text">savoir-faire ancestral</span>
                    <span class="culture__text culture__text-upper">savoir-faire ancestral</span>
                </h2>
                <div class="culture__image-container">
                    <img src="img/craftmanship.png" class="culture__image" alt="">
                </div>
            </div>
            <div class="culture__item culture__item--right-side">
                <h2 class="culture__text-container">
                    <span class="culture__text">innovation</span>
                    <span class="culture__text culture__text-upper">innovation</span>
                </h2>
                <div class="culture__image-container">
                    <img src="img/innovation.png" class="culture__image" alt="">
                </div>
            </div>
            <div class="culture__item culture__item--center-image-left">
                <h2 class="culture__text-container">
                    <span class="culture__text">confiance</span>
                    <span class="culture__text culture__text-upper">confiance</span>
                </h2>
                <div class="culture__image-container">
                    <img src="img/confiance.png" class="culture__image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>