<section class="hero-title">
    <div class="hero__cont cont">
        <div class="hero__content">
            <span class="hero__overline">
                CARRIÈRES
            </span>
            <h1 class="hero__title">
                Rejoindre l'aventure Chaletbau Matti
            </h1>
            <a href="/" class="btn btn--orange">
                VOIR LES OFFRES DISPONIBLES
            </a>
        </div>
    </div>
</section>