<section class="jobs-block">
    <div class="jobs__cont cont">
        <h2 class="jobs__main-title h2">
            <span>Postes à pourvoir</span>
            <span class="jobs__counter">6</span>
        </h2>
        <div class="jobs__amount">
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        Salary DOE
                    </span>
                    <span class="jobs__title">
                        Account manager
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        Competitive salary
                    </span>
                    <span class="jobs__title">
                        Accountant
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        £xx,xxx – xx,xxx
                    </span>
                    <span class="jobs__title">
                        Interior designer
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        Salary DOE
                    </span>
                    <span class="jobs__title">
                        Lead architect
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        Salary DOE
                    </span>
                    <span class="jobs__title">
                        Managing director
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
            <a href="/" class="jobs__item">
                <span class="jobs__main-info">
                    <span class="jobs__salary">
                        Salary DOE
                    </span>
                    <span class="jobs__title">
                        Specialist product supply
                    </span>
                </span>
                <span class="jobs__type">
                    Design
                </span>
            </a>
        </div>
    </div>
</section>