<section class="single-quote">
    <span class="single-quote__line"></span>
    <div class="single-quote__cont cont">
        <div class="single-quote__row">
            <div class="single-quote__image-container">
                <img src="img/single-quote.png" alt="" class="single-quote__image">
            </div> 
            <div class="single-quote__column">
                <span class="single-quote__overline">
                    TRAVAILLER CHEZ CHALETBAU MATTI
                </span>
                <blockquote class="single-quote__blockquote blockquote">
                    Quis commodo odio aenean sed adipiscing    
                </blockquote>
            </div>
        </div>
       
    </div>
</section>