<section class="business" id="generation">
  <div class="business__cont cont">
    <div class="business__grid grid">
      <div class="business__content" data-ac>
        <div class="business__pretitle" data-ae>Une entreprise fertile</div>
        <h2 class="business__title" data-ae>Transmettre <br>et partager</h2>
        <div class="business__text" data-ae>Afin que perdure le travail traditionnel du bois, Chatelbau Matti s’est fixé pour mission de transmettre ses savoir-faire singuliers. Elle forme les talents de la prochaine génération, avec générosité et passion. </div>
      </div>
      <div class="business__media-box" data-ac>
        <div class="business__media-inner" data-ae>
          <div class="business__fakebg js-color-alter"></div>
          <div class="media__el">
            <div class="media__el-wrapper" data-popup="2">
              <video class="media__video" src="video/CHALETBEAU_MATTI_ARCHI_1.mp4#t=0.001" loop playsinline muted></video>
              <div class="media__btn">
                <img class="media__icon" src="img/i-media-play.svg"></img>
              </div>
            </div>

            <div class="media__el-label">Episode 4 - Formation et transmission du savoir</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>