<section class="carousel">
  <div class="carousel__slider">
    <div class="carousel__slider-wrapper">

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Menuiserie</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-1.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Charpenterie</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-2.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Finition & intégration</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-3.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Design d'intérieur et décoration</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-4.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Menuiserie</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-1.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Charpenterie</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-2.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Finition & intégration</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-3.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

      <div class="carousel__slide">
        <div class="carousel__slide-inner">
          <div class="carousel__label">Design d'intérieur et décoration</div>
          <figure class="carousel__figure">
            <img src="img/passion-carousel-4.jpg" alt="" class="carousel__img">
          </figure>
        </div>
      </div>

    </div>

    
  </div>
  <div class="carousel__progress">
    <div class="carousel__progress-bar"></div>
  </div>
</section>