<section class="design" id="clients">
  <div class="design__cont cont">
    <div class="design__grid" data-ac>

      <div class="design__main">
        <div class="design__main-grid">
          <div class="design__pretitle" data-ae>Concevoir pour durer</div>
          <h2 class="design__title" data-ae>Bâtir le rêve, unique, de chacun de nos clients</h2>
          <div class="design__text" data-ae>Un savoir-faire unique, enraciné dans l’excellence, une tradition qui requiert une haute technicité, une précision d’horloger, une quête incessante d’innovation, tout cela – et bien plus - Chaletbau Matti le met en œuvre pour sublimer vos désirs de demeures d’exception.</div>
        </div>

        <div class="design__cine" data-ae>
          <div class="cine js-color-alter">
            <video class="cine__video" src="video/CHALETBEAU_MATTI_BOIS_1.mp4#t=0.001" loop muted playsinline autoplay></video>
            <div class="cine__label">Cinemagraph</div>
          </div>
        </div>
      </div>

      <figure class="design__figure" data-ae>
        <img src="img/passion-design.jpg" alt="" class="design__figure-img js-color-alter">
      </figure>
    </div>
  </div>
  
  <div class="design__fake-bg js-color-alter"></div>
</section>