<section class="nature" id="materials">
   <div class="nature__cont cont">
     <div class="nature__row">
       <div class="nature__fig nature__fig--l">
         <div class="img-scroll">
           <img src="img/nature-1.jpg" alt="" class="img-scroll__el-holder">
           <img src="img/nature-1.jpg" alt="" class="img-scroll__el">
         </div>
       </div>

       <div class="nature__content nature__content--c" data-ac>
         <div class="nature__pretitle" data-ae>Table des matières</div>
         <h2 class="nature__title" data-ae>
            <span>La nature commence, <br>et l'art perfectionne</span>
            <div class="nature__title-over">La nature commence, <br>et l'art perfectionne</div>
         </h2>
         <div class="nature__p" data-ae>Des pièces uniques de vieux bois, séculaire et provenant de toute l’Europe, pour intégrer un pan d’histoire à votre demeure.</div>
       </div>
     </div>

     <div class="nature__row">
       <div class="nature__content nature__content--l" data-ac>
         <h2 class="nature__title" data-ae>Une collection d’antiquités</h2>
         <div class="nature__p" data-ae>Chaletbau Matti apporte le plus grand soin au choix de chacun de ses matériaux bruts et naturels et recèle un trésor, un stock de bois très anciens et recherchés. </div>
       </div>

       <div class="nature__fig nature__fig--r js-color-alter">
         <div class="img-scroll">
           <img src="img/nature-2.jpg" alt="" class="img-scroll__el-holder">
           <img src="img/nature-2.jpg" alt="" class="img-scroll__el">
         </div>
       </div>
     </div>

     <div class="nature__row">
       <div class="nature__fig nature__fig--small">
         <div class="img-scroll">
           <img src="img/nature-3.jpg" alt="" class="img-scroll__el-holder">
           <img src="img/nature-3.jpg" alt="" class="img-scroll__el">
         </div>
       </div>
     </div>
   </div>
</section>