<div class="pagenav-wrapper">

  <div class="page-nav">

    <div class="page-nav__btn">
      <img src="img/i-page-nav-open.svg" alt="" class="page-nav__icon-open">
      <img src="img/i-page-nav-close.svg" alt="" class="page-nav__icon-close">
    </div>

    <ul class="page-nav__list">
      <li class="page-nav__item">
        <a href="#clients" class="page-nav__link">Nos Clients</a>
      </li>
      <li class="page-nav__item">
        <a href="#materials" class="page-nav__link">Matériaux</a>
      </li>
      <li class="page-nav__item">
        <a href="#workshop" class="page-nav__link">Nos Ateliers</a>
      </li>
      <li class="page-nav__item">
        <a href="#generation" class="page-nav__link">Prochaine Génération</a>
      </li>
    </ul>

  </div>

</div>