<section class="greeting greeting--alt">
  <div class="greeting__inner">
    <h1 class="greeting__title">
      <span>NOTRE PASSION</span>
      <div class="greeting__title-over">NOTRE PASSION</div>
    </h1>
    <p class="greeting__text greeting__text--wide">Partagez notre passion pour le travail du bois et notre amour du travail bien fait...</p>
  </div>

  <img src="img/hero-passion.jpg" alt="" class="greeting__pic js-color-alter">
  <img src="img/bg-passion.jpg" alt="" class="greeting__bg">
</section>