<section class="presentation">
   <div class="presentation__cont cont">
     <div class="presentation__grid" data-ac>
       <figure class="presentation__figure js-color-alter" data-ae>
         <img src="img/presentation.jpg" alt="" class="presentation__img">
       </figure>

       <div class="presentation__cine" data-ae>
         <div class="presentation__cine-inner">
           <div class="cine js-color-alter">
             <video class="cine__video" src="video/CHALETBEAU_MATTI_BOIS_2.mp4#t=0.001" loop muted playsinline autoplay></video>
             <div class="cine__label">Cinemagraph</div>
           </div>
         </div>
       </div>
     </div>
   </div>
</section>