<section class="review">
  <div class="review__cont cont">
    <div class="review__grid">
      <div class="review__media" data-st>
        <div class="media__el">
          <div class="media__el-wrapper" data-popup="2">
            <video class="media__video" src="video/CHALETBEAU_MATTI_BOIS_1.mp4#t=0.001" loop playsinline muted></video>
            <div class="media__btn">
              <img class="media__icon" src="img/i-media-play.svg"></img>
            </div>
          </div>

          <div class="media__el-label">Episode 2 - Vieux bois et étapes de travail</div>
        </div>
      </div>

      <div class="review__content">
        <div class="q__quote">
          <p>Les plus belles pièces et essences de bois pour donner un caractère unique à chaque réalisation <img class="q__quote-deco q__quote-deco--r" src="img/i-quote.svg"></p>
          <img class="q__quote-deco q__quote-deco--l" src="img/i-quote.svg">
          
        </div>
      </div>
    </div>
  </div>
</section>