<section class="text-c">
  <div class="text-c__cont cont">
    <div class="text-c__grid">
      <div class="text-c__inner" data-ac>
        <div class="text-c__pretitle" data-ae>Palette végétale et minérale </div>
        <h2 class="text-c__title" data-ae>Une empreinte raffinée</h2>
        <div class="text-c__p" data-ae>Chaletbau Matti trie sur le volet les matériaux naturels utilisés et ne travaille que les plus nobles - bois, pierre, métal – les alliant à d’autres, plus contemporains et innovants, comme le verre et le béton. Toujours durables. Les circuits courts et les matières premières locales sont résolument privilégiés.</div>
      </div>
    </div>
    
  </div>
</section>