<section class="traditions">
  <div class="traditions__cont cont">
    <div class="traditions__grid">
      <div class="traditions__content" data-ac>
        <div class="traditions__pretitle" data-ae>tradition et modernité</div>
        <h2 class="traditions__title" data-ae>L’art du bois ancré dans notre époque</h2>
        <div class="traditions__text" data-ae>Chaletbau Matti travaille le bois à l’ancienne. Notre équipe allie les compétences des artisans, pour les finitions, à celles des ingénieurs pour la construction de la charpente et la menuiserie. Quand la tradition rencontre la modernité les techniques éprouvées du travail du bois se trouvent enrichies des innovations technologiques les plus pointues et des méthodes les plus récentes. Voilà ce qui permet à nos chalets de traverser les âges. </div>
      </div>

      <figure class="traditions__figure">
        <div class="img-scroll js-color-alter">
          <img src="img/tradition.jpg" alt="" class="img-scroll__el-holder">
          <img src="img/tradition.jpg" alt="" class="img-scroll__el">
        </div>
        </figure>
    </div>
  </div>
</section>