<section class="workshop" id="workshop">
  <div class="workshop__fakebg js-color-alter"></div>
   <div class="workshop__cont cont">

     <div class="workshop__precision">
       <div class="workshop__precision-grid grid">
         <div class="workshop__figure workshop__figure--l">
           <div class="img-scroll">
             <img src="img/wood-sanding-crop.jpg" alt="" class="img-scroll__el-holder">
             <img src="img/wood-sanding-crop.jpg" alt="" class="img-scroll__el">
           </div>
         </div>

         <div class="workshop__content" data-ac>
           <div class="workshop__content-grid grid">
             <div class="workshop__pretitle" data-ae>Au cœur de nos ateliers</div>
             <h2 class="workshop__title" data-ae>La précision du geste</h2>
             <div class="workshop__text workshop__text--offset" data-ae>De l’architecte et l’ingénieur au décorateur d’intérieur, en passant par le charpentier, le maître d’œuvre ou le menuisier, tous nos artisans conjuguent leurs talents et engagent toutes leurs forces dans votre projet. Pour vous, ils subliment les matériaux et exaltent leur caractère noble. Chaletbau Matti coordonne tous ces corps de métiers pour bâtir le futur écrin de vos jours et de vos nuits. </div>
           </div>
         </div>

         <div class="workshop__media workshop__media--c">
           <div class="media__el-wrapper" data-popup="2">
             <video class="media__video" src="video/CHALETBEAU_MATTI_REALISATION.mp4#t=0.001" loop playsinline muted></video>
             <div class="media__btn">
               <img class="media__icon" src="img/i-media-play.svg"></img>
             </div>
           </div>
           <div class="media__el-label">Episode 3 - Charpenterie & menuiserie</div>
         </div>
       </div>
     </div>

     <div class="workshop__perfection">
       <div class="workshop__perfection-grid grid">
         

         <div class="workshop__content workshop__content--l" data-ac>
           <div class="workshop__content-grid grid">
             <div class="workshop__pretitle" data-ae>En quête de perfection</div>
             <h2 class="workshop__title" data-ae>L’excellence <br> incarnée</h2>
             <div class="workshop__text workshop__text--l" data-ae>Minutie, finesse, délicatesse, perfection... La quête de l’excellence est incessante et s’incarne dans les finitions, impeccables, de chaque pièce. Tout se joue au millimètre près ! Le souci du détail guide les artisans de Chaletbau Matti, à chaque étape de la réalisation, dans leur démarche personnalisée de « sur-mesure » haute couture. La pratique de l’exigence est constante et l’expression « l’intelligence de la main » prend tout son sens...</div>
           </div>

           <div class="workshop__figure workshop__figure--mob">
             <div class="img-scroll">
               <img src="img/pool.jpg" alt="" class="img-scroll__el-holder">
               <img src="img/pool.jpg" alt="" class="img-scroll__el">
             </div>
           </div>

           <div class="workshop__figure workshop__figure--l workshop__figure--narrow">
             <div class="img-scroll">
               <img src="img/perfection.jpg" alt="" class="img-scroll__el-holder">
               <img src="img/perfection.jpg" alt="" class="img-scroll__el">
             </div>
           </div>
           
         </div>

         <div class="workshop__figure workshop__figure--r">
           <div class="img-scroll">
             <img src="img/pool.jpg" alt="" class="img-scroll__el-holder">
             <img src="img/pool.jpg" alt="" class="img-scroll__el">
           </div>
         </div>
         
       </div>
     </div>

   </div>
  
</section>