---
title: pages
description: pages
pageName: pages
---

<!doctype html>
<html lang="en">

  {% include "./layouts/_head.twig" %}
  <body>
    <main class="pages">
      <ul class="pages__list">
        <li class="pages__item">
          <a href="/" class="pages__link" target="_blank">homepage</a>
        </li>

        <li class="pages__item">
          <a href="history.html" class="pages__link" target="_blank">history</a>
        </li>

        <li class="pages__item">
          <a href="passion.html" class="pages__link" target="_blank">passion</a>
        </li>

        <li class="pages__item">
          <a href="your-home.html" class="pages__link" target="_blank">your home</a>
        </li>

        <li class="pages__item">
          <a href="contact.html" class="pages__link" target="_blank">contact</a>
        </li>

        <li class="pages__item">
          <a href="team.html" class="pages__link" target="_blank">team</a>
        </li>

        <li class="pages__item">
          <a href="manifesto.html" class="pages__link" target="_blank">manifesto</a>
        </li>

        <li class="pages__item">
          <a href="jobs.html" class="pages__link" target="_blank">jobs</a>
        </li>

        <li class="pages__item">
          <a href="404.html" class="pages__link" target="_blank">404</a>
        </li>

        <li class="pages__item">
          <a href="terms-of-use.html" class="pages__link" target="_blank">terms of use</a>
        </li>
      </ul>
    </main>
  </body>
</html>


