---
title: Terms Of Use page
description: Terms Of Use page description
pageName: TermsOfUsePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main class="single-page__main">
    {% include "pages/terms-of-use/single-block.twig" %}
  </main>
  {% include "blocks/_footer.twig" %}
{% endblock %}
