<!doctype html>
<html lang="en">

{% include "./_head.twig" %}

<body data-page-name="{{ pageName }}" data-barba="wrapper">

  {% include "blocks/_loader.twig" %}

  {% include "blocks/_header.twig" %}
  {% include "blocks/_menu.twig" %}
  {% include "blocks/_navbar.twig" %}

  <div class="fixed-holder"></div>

  {% block wrapperout %}{% endblock %}

  <div
    class="scroll-wrapper"
    data-barba="container"
    data-barba-namespace="{{ pageName }}">
    
    {% block content %}{% endblock %}
    {% include "pages/index/popup-video.twig" %}
  </div>
  
  <script src="/js/app.js"></script>

</body>
</html>
