<header class="header">
  <div class="header__cont">
    <div class="header__grid">
      <div class="header__col header__col--l"></div>
      <div class="header__col">
        <a href="/" class="header__logo-link">
          <img src="img/logo--big.svg" alt="" class="header__logo">
          <img src="img/logo.svg" alt="" class="header__logo header__logo--s js-logo-main">
          <img src="img/logo--alt.svg" alt="" class="header__logo header__logo--s header__logo--alt js-logo-over">
        </a>
      </div>
      <div class="header__col header__col--r">
        <div class="header__burger-wrapper">
          <div class="burger">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>

          <div class="burger burger--alt">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</header>