<div class="loader">

  <img src="img/logo--big.svg" alt="" class="loader__logo">
  <div class="loader__overlay">
    <div class="loader__line"></div>
    <div class="loader__bg loader__bg--l"></div>
    <div class="loader__bg loader__bg--r"></div>
  </div>
</div>