<div class="menu">
  <div class="menu__cont cont">
    <div class="menu__main">
      <div class="menu__grid">
        <div class="menu__logo-wrapper">
          <a href="/" class="menu__logo-link">
            <img src="img/logo--big.svg" alt="" class="menu__logo-img">
          </a>
        </div>
        <nav class="menu__nav">
          <ul class="menu__nav-list">

            {# active modifier #}
            {# <li class="menu__nav-item menu__nav-item--active">
              <a href="history.html" class="menu__nav-link">L'HISTOIRE</a>
            </li> #}
            <li class="menu__nav-item">
              <a href="history.html" class="menu__nav-link">L'HISTOIRE</a>
            </li>
            
            <li class="menu__nav-item">
              <a href="passion.html" class="menu__nav-link">NOTRE PASSION</a>
            </li>
            <li class="menu__nav-item">
              <a href="your-home.html" class="menu__nav-link">VOTRE REFUGE</a>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="menu__lang-mob">
    <div class="lang">
      <div class="lang__btn">
        <div class="lang__btn-pre">LANGUAGE:</div>
        <span>FR</span>
        <div class="lang__icon-close"></div></div>
      <div class="lang__popup">
        <div class="lang__popup-label">Choisissez votre langue:</div>
        
        <a href="en.html" class="lang__popup-item">Anglais</a>
        <a href="#" class="lang__popup-item lang__popup-item--active">francais</a>
        <a href="en.html" class="lang__popup-item">gernman</a>
      </div>
    </div>
  </div>
  
  <div class="menu__footer">
    <div class="menu__footer-inner">
      <div class="menu__links">
        <a href="terms-of-use.html" class="menu__link">Politique de confidentialité</a>
        <a href="terms-of-use.html" class="menu__link">Mention légales</a>
      </div>

      <div class="menu__centered-col">
        <nav class="menu__fnav">
          <ul class="menu__fnav-list">
            <li class="menu__fnav-item">
              <a href="contact.html" class="menu__fnav-link">Contact</a>
            </li>
            <li class="menu__fnav-item">
              <a href="team.html" class="menu__fnav-link">Notre équipe</a>
            </li>
            <li class="menu__fnav-item">
              <a href="manifesto.html" class="menu__fnav-link">Manifesto</a>
            </li>
            <li class="menu__fnav-item">
              <a href="jobs.html" class="menu__fnav-link">Carrières</a>
            </li>
            <li class="menu__fnav-item">
              <a href="#login-url-here" class="menu__fnav-link">LOGIN</a>
            </li>
          </ul>
        </nav>

        <ul class="menu__socials">
          <li class="menu__social-item">
            <a href="#youtube" class="menu__social-link" data-popup="1">
              <img src="img/i-social-yt.svg" alt="" class="menu__social-icon">
            </a>
          </li>
          <li class="menu__social-item">
            <a href="#instagram" class="menu__social-link">
              <img src="img/i-social-instagram.svg" alt="" class="menu__social-icon">
            </a>
          </li>
          
        </ul>
      </div>

      <div class="menu__lang">
        <div class="lang">
          <div class="lang__btn">
            <span>FR</span>
            <div class="lang__icon-close"></div></div>
          <div class="lang__popup">
            <div class="lang__popup-label">Choisissez votre langue:</div>
            
            <a href="en.html" class="lang__popup-item">Anglais</a>
            <a href="#" class="lang__popup-item lang__popup-item--active">francais</a>
            <a href="en.html" class="lang__popup-item">gernman</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>