<div class="navbar">
  <div class="navbar__inner">
    <div class="navbar__buttons">
      <div class="navbar__button" data-popup="1">
        <img src="img/i-social-yt.svg" alt="" class="navbar__icon">
      </div>
    </div>

    <div class="navbar__burger">
      <div class="burger">
        <div class="burger__line"></div>
        <div class="burger__line"></div>
        <div class="burger__line"></div>
      </div>
    </div>
  </div>
</div>