<div class="popup-video" data-video="2">
  <div class="popup-video__media">
    <video class="popup-video__element" playsinline controls preload="none">
      <source src="video/CHALETBAU_MATTI_v4.mp4#t=0.001" type="video/mp4" />
    </video>
  </div>
  <div class="popup-video__btn-close">
    <img src="img/i-close.svg" alt="" class="popup-video__icon-close">
  </div>
</div>