<div class="bottom-quote">
    <div class="cont">
        <div class="bottom-quote__container">
            <div class="bottom-quote__image-container" data-st>
                <video class="bottom-quote__video" src="video/CHALETBEAU_MATTI_ARCHI_1.mp4#t=0.001" loop muted playsinline autoplay></video>
                <span class="bottom-quote__text">
                    Cinemagraph
                </span>
                <span class="bottom-quote__image-blockquote blockquote quote__animation">
                    Lorem tempor incididunt ut labore et dolore magna aliqua.
                </span>
            </div>
            <blockquote class="bottom-quote__blockquote blockquote quote__animation">
                Lorem tempor incididunt ut labore et dolore magna aliqua.
            </blockquote>
        </div>
    </div>
</div>