<section class="center-quote">
    <div class="center-quote__cont cont">
        <div class="center-quote__container">
            {# <blockquote class="center-quote__blockquote blockquote quote__animation">
                Lorem tempor amet massa vitae condimentum
            </blockquote>
            <span class="center-quote__author">
                amet massa vitae
            </span> #}

            <div class="q__quote">
                
              <p><img class="q__quote-deco q__quote-deco--l q__quote-deco--inline" src="img/i-quote.svg"></img>Lorem tempor amet massa vitae condimentum<img class="q__quote-deco q__quote-deco--r" src="img/i-quote.svg"></img></p>
              
              
            </div>
            <div class="q__author">amet massa vitae</div>

            
        </div>
    </div>
</section>