<section class="collaboration" id="design">
    <div class="cont">
        <div class="collaboration__row">
            <div class="collaboration__image-col">
                <div class="collaboration__image-container" data-st>
                    <img src="img/interior-design.jpg" class="collaboration__image" alt="">
                </div>
            </div>
            <div class="collaboration__text-col" data-ac>
                <span class="collaboration__subtitle subtitle" data-ae>
                    Design d’intérieur : Expertise et collaboration
                </span>
                <h2 class="collaboration__title h2" data-ae>
                    Sublimer
                </h2>
                <div class="collaboration__text--sm text--sm" data-ae>
                    <p>
                        Une équipe dédiée au service de votre projet.
                    </p>
                    <p>
                        La créativité et le talent de nos designers d’intérieur sont immenses. À chaque étape de la conception et de la réalisation, ils vous écoutent exprimer vos envies et les traduisent, s’efforçant de toucher le cœur de vos attentes. Et sublimer votre bien.
                    </p>
                </div>
            </div>
        </div>
        <div class="collaboration__image-container--small" data-st>
            <img src="img/interior-design-small.jpg" class="collaboration__image--small" alt="">
        </div>
    </div>

    <div class="collaboration-wrapper js-color-alter">
        <div class="collaboration-cont cont">
            <div class="collaboration__row-center">
                <div class="collaboration__col-left">
                    <div class="collaboration__text-cont" data-ac>
                        <h2 class="collaboration__slider-title h3" data-ae>
                            Notre showroom d’exception
                        </h2>
                        <div class="collaboration__slider-text--sm text--sm" data-ae>
                            Flânez au sein de notre showroom pour trouver l’inspiration ; humez, admirez et touchez les matières et découvrez les pièces d’exception de notre stock de vieux bois. Certaines pièces uniques, vieilles de 200 à 300 ans, donneront un caractère singulier et remarquable à votre demeure.
                        </div>
                    </div>
                </div>
                <div class="collaboration__col-right">
                    <div class="collaboration__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-1.jpg" alt="" class="collaboration__slider-image">
                            </div>
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-2.jpg" alt="" class="collaboration__slider-image">
                            </div>
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-3.jpg" alt="" class="collaboration__slider-image">
                            </div>
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-4.jpg" alt="" class="collaboration__slider-image">
                            </div>
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-5.jpg" alt="" class="collaboration__slider-image">
                            </div>
                            <div class="collaboration__slider-item swiper-slide">
                                <img src="img/collaboration-6.jpg" alt="" class="collaboration__slider-image">
                            </div>
                        </div>
                        <div class="swiper-navigation">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-flex">
        <div class="cont">
            <div class="image-flex__row">
                <div class="image-flex__col-left">
                    <div class="image-flex__large-cont" data-st>
                        <img src="img/image-flex-1.jpg" alt="" class="image-flex__img">
                    </div>
                    <div class="image-flex__small-cont" data-st>
                        <img src="img/image-flex-3.jpg" alt="" class="image-flex__img">
                    </div>
                    <div class="image-flex__medium-cont" data-st>
                        <img src="img/image-flex-4.jpg" alt="" class="image-flex__img">
                    </div>
                </div>
                <div class="image-flex__col-right">
                    <div class="image-flex__xsmall-cont" data-st>
                        <img src="img/image-flex-2.jpg" alt="" class="image-flex__img">
                    </div>
                    <div class="image-text-flex__medium-col" data-ac>
                        <h3 class="image-text-flex__title h3" data-ae>
                            Le meilleur <br>de l’extérieur !
                        </h3>
                        <div class="image-text-flex__text--sm text--sm" data-ae>
                            Chaletbau Matti collabore également avec des décorateurs d'intérieur de renom. Nous faisons appel aux plus talentueux d’entre eux ou travaillons avec les bureaux de votre
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>