<section class="dual">
  <div class="dual__cont cont">
    <div class="dual__grid">
      <div class="dual__figure dual__figure--l">
        <img src="img/your-home-dual-1.jpg" alt="" class="dual__img">
      </div>
      <div class="dual__figure dual__figure--r">
        <img src="img/your-home-dual-2.jpg" alt="" class="dual__img">
      </div>
    </div>
  </div>
</section>