<section class="full-image-slider">
    <div class="full-image-slider__container swiper-container">
        <div class="swiper-wrapper">
            <div class="full-image-slider__item swiper-slide">
                <img src="img/large-house.jpg" alt="" class="full-image-slider__image">
            </div>
            <div class="full-image-slider__item swiper-slide">
                <img src="img/mountains.jpg" alt="" class="full-image-slider__image">
            </div>
            <div class="full-image-slider__item swiper-slide">
                <img src="img/large-house.jpg" alt="" class="full-image-slider__image">
            </div>
        </div>
        <div class="swiper-pagination full-image-slider__pagination"></div>
    </div>
</section>