<section class="image-quote">
    <div class="cont">
        <div class="image-quote__row">
            <div class="image-quote__left-col">
                <div class="image-quote__picture-container" data-st>
                    <video class="image-quote__video" src="video/CHALETBEAU_MATTI_PAYSAGE.mp4#t=0.001" loop muted playsinline autoplay></video>
                    <span class="image-quote__text">
                        Cinemagraph
                    </span>
                </div>
            </div>
            <div class="image-quote__right-col">
                <blockquote class="image-quote__blockquote blockquote quote__animation">
                    Our passion is incididunt ut labore et dolore magna aliqua.
                </blockquote>
            </div>
        </div>
    </div>
</section>