<section class="innovations" id="innovation">
    <div class="cont">
        <div class="innovations__image-text-row" data-ac>
            <div class="innovations__large-image-container" data-ae>
                <img src="img/innovations.png" alt="" class="innovations__large-image-picture">
            </div>
            <div class="innovations__text-column">
                <span class="innovations__subtitle subtitle" data-ae>
                    Innovation et intégrations 
                </span>
                <h2 class="innovations__title h2" data-ae>
                    Des finitions soignées 
                </h2>
                <div class="innovations__text text--sm" data-ae>
                    <p>
                        Nous portons toute notre attention aux finitions. En matière de fini, nous sommes sans compromis ! Pas question de transiger : le moindre détail doit être parfait..
                    </p>
                </div>
            </div>
        </div>

        <div class="innovations__video-text-row" data-ac>
            <div class="innovations__grid">
                <div class="innovations__left-col">
                    <div class="text-column">
                        <h3 class="text-column__title" data-ae>
                            Domotique et intégration des technologies
                        </h3>
                        <div class="text-column__text text--sm" data-ae>
                            <p>
                                Notre ingéniosité : intégrer à votre bien le meilleur des technologies et de la domotique afin de vous offrir un confort absolu, dans un écrin design... Et le faire avec tant de subtilité qu’ils en deviennent presque invisibles. Ainsi, un écran de cinéma disparaît dans le plafond quand il n’est pas utilisé, des parois s’effacent pour créer un plus grand espace, des commandes dissimulées pilotent à distance chauffage, stores...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innovations__center-col">
                    <div class="text-column">
                        <h3 class="text-column__title" data-ae>
                            Menés par l’innovation
                        </h3>
                        <div class="text-column__text text--sm" data-ae>
                            <p>
                                Toujours progresser, côté design et côté techniques, voilà notre ambition ! 
                            </p>
                            <p>
                                Un design abouti requiert un degré de minutie toujours plus poussé. Ce travail de précision s’incarne dans des finitions sans cesse plus raffinées. L’alliance de matériaux - verre-béton-pierre - et du bois, confère un rendu contemporain, que l’emploi des toutes dernières techniques et de machines à la pointe de l’innovation soutient.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="innovations__right-col" data-ae>
                    {% include "pages/your-home/innovations-video-block.twig" %}
                </div>
            </div>
        </div>
    </div>
</section>