<section class="inserted-images">
    <img src="img/mountains.jpg" alt="" class="inserted-images__image-large">
    <div class="cont">
        <div class="inserted-images__image-container">
            <img src="img/house.png" alt="" class="inserted-images__image-small">
        </div>  
    </div>
</section>