<section class="multiple">
    <div class="cont">
        <div class="multiple__row">
            <div class="multiple__left-col">
                <div class="multiple__text-column" data-ac>
                    <span class="multiple__subtitle subtitle" data-ae>
                        Styles & aménagements
                    </span>
                    <h2 class="multiple__title h2" data-ae>
                        À votre image, tout simplement
                    </h2>
                    <div class="multiples__text text" data-ae>
                        <p>
                            Chaletbau Matti s’adapte à vos envies et donne à votre intérieur le style qui vous plaît, celui qui correspond en tout point à vos goûts. Tout en intégrant intelligemment au cœur des aménagements les équipements high-techs qui rehaussent votre confort et accroissent votre sensation de bien-être. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="multiple__right-col">
                <div class="multiple__slider-amount">
                    <div class="multiple__slider-navigation">
                        <button type="button" class="multiple__slider-tab multiple__slider-tab--active" data-slider-tab="exterior">
                            <span class="multiple__tab-image">
                                <img src="/img/multiple/exterior-1.jpg" class="multiple__tab-picture" alt="">
                            </span>
                            <span class="multiple__tab-text">
                                Exterior
                            </span>
                        </button>
                        <button type="button" class="multiple__slider-tab" data-slider-tab="interior">
                            <span class="multiple__tab-image">
                                <img src="/img/multiple/interior-1.jpg" class="multiple__tab-picture" alt="">
                            </span>
                            <span class="multiple__tab-text">
                                Interior
                            </span>
                        </button>
                        <button type="button" class="multiple__slider-tab" data-slider-tab="details">
                            <span class="multiple__tab-image">
                                <img src="/img/multiple/details-1.jpg" class="multiple__tab-picture" alt="">
                            </span>
                            <span class="multiple__tab-text">
                                Details
                            </span>
                        </button>
                    </div>
                    <div class="multiple__slider-wrapper">
                        <div class="multiple__slider swiper-container multiple__slider--active" data-slider-tab="exterior">
                            <div class="swiper-wrapper">
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/exterior-1.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/exterior-2.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/exterior-3.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/exterior-4.jpg" alt="" class="multiple__slider-image">
                                </div>
                            </div>
                            <div class="swiper-navigation">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <div class="multiple__slider swiper-container" data-slider-tab="interior">
                            <div class="swiper-wrapper">
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/interior-1.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/interior-2.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/interior-3.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/interior-4.jpg" alt="" class="multiple__slider-image">
                                </div>
                            </div>
                            <div class="swiper-navigation">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                        <div class="multiple__slider swiper-container" data-slider-tab="details">
                            <div class="swiper-wrapper">
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/details-1.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/details-2.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/details-3.jpg" alt="" class="multiple__slider-image">
                                </div>
                                <div class="multiple__slider-item swiper-slide">
                                    <img src="img/multiple/details-4.jpg" alt="" class="multiple__slider-image">
                                </div>
                            </div>
                            <div class="swiper-navigation">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>