<div class="pagenav-wrapper">
  <div class="page-nav">
    <div class="page-nav__btn">
      <img src="img/i-page-nav-open.svg" alt="" class="page-nav__icon-open">
      <img src="img/i-page-nav-close.svg" alt="" class="page-nav__icon-close">
    </div>
    <ul class="page-nav__list">
      <li class="page-nav__item">
        <a href="#services" class="page-nav__link">Services</a>
      </li>
      <li class="page-nav__item">
        <a href="#expertise" class="page-nav__link">Expertise</a>
      </li>
      <li class="page-nav__item">
        <a href="#innovation" class="page-nav__link">Innovation</a>
      </li>
      <li class="page-nav__item">
        <a href="#design" class="page-nav__link">Design d’intérieur</a>
      </li>
    </ul>
  </div>
</div>