<div class="video__block">
    <div class="video__container video__hover" data-popup="2">
        <video src="video/CHALETBEAU_MATTI_REALISATION.mp4#t=0.001" loop muted playsinline class="video__preloader"></video>
        {# <img src="img/video-preloader.png" alt="" class="video__preloader"> #}
        <button type="button" class="video__btn-play"> 
            <img src="img/i-play.svg" alt="" class="video__icon-play">
        </button>
    </div>
    <h3 class="video__title">
        Episode 5 - Prise en charge client
    </h3>
</div>