<section class="provider provider--dark">
    <div class="provider__fake-bg js-color-alter"></div>
    <div class="provider__video-text-block">
        <div class="cont">
            <div class="provider__row">
                <div class="provider__left-col" data-ac>
                    <span class="provider__subtitle subtitle" data-ae>
                        Un accompagnement global
                    </span>
                    <h2 class="provider__title h2" data-ae>
                        Un service personnalisé
                    </h2>
                    <div class="provider__text text" data-ae>
                        <p>
                            Un seul interlocuteur vous est dédié et vous accompagne tout au long de votre projet. Chaletbau Matti en assure toutes les étapes : de l’acquisition du terrain à la livraison de votre propriété et même à son entretien, en passant par sa construction et sa décoration intérieure. Avec discrétion et efficacité. 
                        </p>
                    </div>
                </div>
                <div class="provider__right-col" data-st>
                    {% include "pages/your-home/provider-video-block.twig" %}
                </div>
            </div>
        </div>
    </div>
    {% include "pages/your-home/image-full-width.twig" %}
    {% include "pages/your-home/bottom-quote.twig" %}
</section>