<section class="services" id="services">
    <div class="services__cont cont">
        <div class="services__title-block">
            <div class="services__row">
                <div class="services__half-col" data-ac>
                    <span class="services__subtitle" data-ae>
                        Notre éventail de services
                    </span>
                    <h2 class="services__main-title" data-ae>
                        Pour vous accompagner dans toutes les étapes
                    </h2>
                </div>
            </div>
        </div>
        <div class="services__items-block">
            <div class="services__row">
                <div class="services__half-col">
                    <div class="services__left">
                        <div class="services__image">
                            <img src="img/service-conception.png" alt="" class="services__item-image">
                        </div>
                        <div class="services__image">
                            <img src="img/scrolling-01.png" alt="" class="services__item-image">
                        </div>
                        <div class="services__image">
                            <img src="img/scrolling-02.png" alt="" class="services__item-image">
                        </div>
                        <div class="services__image">
                            <img src="img/scrolling-03.png" alt="" class="services__item-image">
                        </div>
                        <div class="services__image">
                            <img src="img/scrolling-04.png" alt="" class="services__item-image">
                        </div>
                        <div class="services__image">
                            <img src="img/scrolling-05.png" alt="" class="services__item-image">
                        </div>
                    </div>
                </div>
                <div class="services__right-col">
                    <div class="services__right">
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Conception
                            </h3>
                            <span class="services__text text">
                                Créer ensemble, et sur-mesure, votre projet.
                            </span>
                        </div>
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Architecture
                            </h3>
                            <span class="services__text text">
                                Imaginer les plans et l’agencement de votre future demeure
                            </span>
                        </div>
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Conception
                            </h3>
                            <span class="services__text text">
                                Créer ensemble, et sur-mesure, votre projet.
                            </span>
                        </div>
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Architecture
                            </h3>
                            <span class="services__text text">
                                Imaginer les plans et l’agencement de votre future demeure
                            </span>
                        </div>
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Conception
                            </h3>
                            <span class="services__text text">
                                Créer ensemble, et sur-mesure, votre projet.
                            </span>
                        </div>
                        <div class="services__item-text">
                            <h3 class="services__title">
                                Architecture
                            </h3>
                            <span class="services__text text">
                                Imaginer les plans et l’agencement de votre future demeure
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</section>