<section class="teaser">
  <div class="teaser__cont cont">
    <div class="teaser__inner">
      <h2 class="teaser__title">
        <span>Du premier atelier à l’entreprise de renom</span>
        <div class="teaser__title-over">Du premier atelier à l’entreprise de renom</div>
      </h2>

      <div class="teaser__btn">
        <div class="teaser__btn-pretitle">PAGE SUIVANTE</div>
        <div class="teaser__btn-title">L’histoire</div>
      </div>
    </div>
  </div>
  <a href="history.html" class="teaser__link"></a>
  <div class="teaser__bg">
    <img src="img/bg-your-home-teaser.jpg" alt="" class="teaser__bg-img">
  </div>
</section>