<section class="text-section" id="expertise">
    <div class="cont">
        <div class="text-section__row">
            <div class="text-section__col" data-ac>
                <span class="text-section__subtitle subtitle" data-ae>
                    Expertise architecturale
                </span>
                <h2 class="text-section__title h2" data-ae>
                    L’expression de votre singularité 
                </h2>
                <div class="text-section__text text" data-ae>
                    <p>
                        Afin de construire vos envies et de les sublimer, Chaletbau Matti allie son savoir-faire traditionnel de la construction en bois aux technologies les plus avancées. Nos artisans sont experts dans le travail du bois, de la charpente et de la menuiserie. Intégrer au mieux le bâti dans son environnement afin d’en préserver l’intégrité et la beauté est un souci permanent.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>