<section class="video-text">
    <div class="cont">
        <div class="video-text__row" data-ac>
            <div class="video-text__left-col" data-ae>
                {% include "pages/your-home/text-video-block.twig" %}
            </div>
            <div class="video-text__right-col">
                <span class="video-text__subtitle subtitle" data-ae>
                    Design sur-mesure
                </span>
                <h2 class="video-text__title" data-ae>
                    L’art et la manière
                </h2>
                <div class="video-text__text text" data-ae>
                    <p>
                        Ce qui nous anime ? Imaginer et concevoir LA résidence qui comblera la moindre de vos attentes et sera le théâtre de souvenirs inoubliables. Chaletbau Matti s’efforce d’approcher votre idéal au plus près en s’entourant des artisans les plus talentueux. Votre projet reflète parfaitement votre art de vivre.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>