<section class="greeting greeting--alt greeting--yh">
  <div class="greeting__inner">
    <h1 class="greeting__title">
      <span>VOTRE REFUGE</span>
      <div class="greeting__title-over">VOTRE REFUGE</div>
    </h1>
    <p class="greeting__text greeting__text--wide">Imaginons ensemble votre prochain havre de paix, le décor de futurs souvenirs inoubliables. Faisons-le passer du papier à la réalité. </p>
  </div>

  <img src="img/hero-your-home.jpg" alt="" class="greeting__pic greeting__pic--small">
  <img src="img/bg-your-home.jpg" alt="" class="greeting__bg">
</section>