<section class="contact">
  <div class="contact__cont cont">
    <div class="contact__grid grid">
      <div class="contact__figure">
        <div class="contact__slider">
          <div class="contact__slider-wrapper">

            <div class="contact__slide">
              <div class="contact__slide-inner">
                <img src="img/contact-slider-1.jpg" alt="" class="contact__img">
                <img src="img/contact-map-1.png" alt="" class="contact__img-map">
              </div>
            </div>

            <div class="contact__slide">
              <div class="contact__slide-inner">
                <img src="img/contact-slider-2.jpg" alt="" class="contact__img">
                <img src="img/contact-map-1.png" alt="" class="contact__img-map">
              </div>
            </div>

            <div class="contact__slide">
              <div class="contact__slide-inner">
                <img src="img/contact-slider-1.jpg" alt="" class="contact__img">
                <img src="img/contact-map-1.png" alt="" class="contact__img-map">
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="contact__main">
        <div class="contact__btns">
          <div class="contact__btn contact__btn--active">Architecture</div>
          <div class="contact__btn">Timber construction</div>
          <div class="contact__btn">Real estate</div>
        </div>

        <div class="contact__tabs">
          <div class="contact__tabs-wrapper">

            <div class="contact__tab">
              <div class="contact__text">
                <p>Chaletbau Matti Architektur AG</p>
                <p>Rotlistrasse 1, CH-3780 Gstaad</p>
              </div>
              <div class="contact__links">
                <a href="tel+41337489010" class="contact__link">+41 33 748 90 10</a>
                <a href="mailto:info@chaletbaumatti.ch" class="contact__link contact__link--deco">info@chaletbaumatti.ch</a>
              </div>
            </div>

            <div class="contact__tab">
              <div class="contact__text">
                <p>[2] Chaletbau Matti Architektur AG</p>
                <p>Rotlistrasse 1, CH-3780 Gstaad</p>
              </div>
              <div class="contact__links">
                <a href="tel+41337489010" class="contact__link">+41 33 748 90 10</a>
                <a href="mailto:info@chaletbaumatti.ch" class="contact__link contact__link--deco">info@chaletbaumatti.ch</a>
              </div>
            </div>

            <div class="contact__tab">
              <div class="contact__text">
                <p>[3] Chaletbau Matti Architektur AG</p>
                <p>Rotlistrasse 1, CH-3780 Gstaad</p>
              </div>
              <div class="contact__links">
                <a href="tel+41337489010" class="contact__link">+41 33 748 90 10</a>
                <a href="mailto:info@chaletbaumatti.ch" class="contact__link contact__link--deco">info@chaletbaumatti.ch</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>