<section class="greeting greeting--full">
  <div class="greeting__inner greeting__inner--full">
    <h1 class="greeting__title greeting__title--center">
      <span>DONNONS <br>VIE A VOTRE <br> PROJET</span>
      <div class="greeting__title-over">DONNONS <br>VIE A VOTRE <br> PROJET</div>
    </h1>
    <p class="greeting__text greeting__text--bottom">With offices across lorem ipsum adipiscing. Non enim praesent elementum facilisis leo vel. Duis at consectetur lorem donec massa. </p>
  </div>

  <img src="img/hero-contact.jpg" alt="" class="greeting__pic greeting__pic--half">
</section> 
