<section class="error-block">
    <div class="error__cont cont">
        <div class="error__content">
            <h1 class="error__title">
                404 <br>Error
            </h1>
            <span class="error__text">
                Eu consequat ac felis donec et odio pellentesque diam. Sit amet mauris commodo quis. Sociis natoque penatibus et magnis dis parturient.
            </span>
            <a href="index.html" class="btn btn--gray">
                Go back home
            </a>
        </div>
    </div>
</section>